@section header
{
     
    <link rel="stylesheet" href="/js/dtree/dtree.css" />
    <link rel="stylesheet" href="/js/dtree/font/dtreefont.css" />
    <link href="/js/flow/GooFlow.css" rel="stylesheet" />
    <link href="/css/formpreview.css" rel="stylesheet" />
    
    <!-- 添加自定义样式覆盖main.css中的冲突样式 -->
    <style>
        .verification-flex-container {
            display: flex;
            width: 100%;
            min-height: 600px;
        }
        
        .verification-left-panel {
            flex: 8;
            padding-right: 10px;
        }
        
        .verification-right-panel {
            flex: 4;
            background-color: gainsboro;
            padding: 10px;
        }
        
        /* 覆盖main.css中的绝对定位样式 */
        .verification-tab .layui-tab-item {
            position: relative !important;
            top: auto !important;
            bottom: auto !important;
            left: auto !important;
            right: auto !important;
            min-height: 500px;
            padding: 10px;
        }
        
        .verification-tab .layui-tab-content {
            min-height: 500px;
            position: relative;
        }
    </style>
}

<form class="layui-form " action="" id="formEdit">
    <div class="verification-flex-container">
        <div class="verification-left-panel">
            <div class="layui-tab layui-tab-brief verification-tab" lay-filter="tab" style="margin: 0px">
                <ul class="layui-tab-title">
                    <li class="layui-this">流程信息</li>
                    <li>表单信息</li>
                </ul>

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div id="flowPanel">
                            <!-- 测试内容 -->
                            <p>流程内容应该显示在这里</p>
                        </div>
                    </div>

                    <div class="layui-tab-item">
                        <div id="frmPreview">
                            <!-- 测试内容 -->
                            <p>表单内容应该显示在这里</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="verification-right-panel">
            <input type="hidden" id="FlowInstanceId" name="FlowInstanceId"/>

            <div class="layui-form-item">
                <label class="layui-form-label">审核结果</label>
                <div class="layui-input-block">
                    <input type="radio" name="VerificationFinally" value="1" title="同意" checked>
                    <input type="radio" name="VerificationFinally" value="2" title="不同意">
                    <input type="radio" name="VerificationFinally" value="3" title="驳回">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">审核意见</label>
                <div class="layui-input-block">
                    <textarea name="VerificationOpinion"
                           placeholder="" autocomplete="off" class="layui-textarea" ></textarea>
                </div>
            </div>
        </div>
    </div>
    
    <input type="hidden" lay-submit id="btnSubmit" lay-filter="formSubmit"/>
</form>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/verification.js?v3"></script>

