using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Infrastructure;
using OpenAuth.App.Interface;
using OpenAuth.App.Request;
using OpenAuth.App.Response;
using OpenAuth.Repository.Domain;
using SqlSugar;


namespace OpenAuth.App
{
    public class {ModuleCode} : SqlSugarBaseApp<{ClassName}>
    {

        /// <summary>
        /// 加载列表
        /// </summary>
        public async Task<TableData> Load(Query{ClassName}ListReq request)
        {
            var loginContext = _auth.GetCurrentUser();
            if (loginContext == null)
            {
                throw new CommonException("登录已过期", Define.INVALID_TOKEN);
            }

            var result = new TableData();
            var objs = GetDataPrivilege("u");
            if (!string.IsNullOrEmpty(request.key))
            {
                objs = objs.Where(u => u.Name.Contains(request.key));
            }
            if (!string.IsNullOrEmpty(request.sqlWhere))
            {
                objs = objs.Where(request.sqlWhere);
            }

            {ForeignKeyTemplate}

            result.data = objs.OrderBy(u => u.Id)
                .Skip((request.page - 1) * request.limit)
                .Take(request.limit).ToList();
            result.count = await objs.CountAsync();
            return result;
        }

        public void Add(AddOrUpdate{ClassName}Req request)
        {
            var obj = request.MapTo<{ClassName}>();
            var user = _auth.GetCurrentUser().User;
            //todo:补充或调整自己需要的字段
{InsertColumns}
            if(obj.KeyIsNull())  //如果主键为空，则生成默认值
            {
                obj.GenerateDefaultKeyVal();
            }
            Repository.Insert(obj);
        }

        public void Update(AddOrUpdate{ClassName}Req request)
        {
            var user = _auth.GetCurrentUser().User;
            Repository.Update(u => new {ClassName}
            {
{UpdateColumns}
            },u => u.Id == request.Id);

        }

        public {ModuleCode}(ISqlSugarClient client, IAuth auth) : base(client, auth)
        {
        }
    }
}